# Ignore everything in ArcGIS directory
ArcGIS/*
arcgis-experience-builder-*.zip
.temp*

# But keep these specific folders
!ArcGIS/client/
ArcGIS/client/*
!ArcGIS/client/start-client.bat
!ArcGIS/client/your-extensions/

!ArcGIS/server/
ArcGIS/server/*
!ArcGIS/server/start-server.bat
!ArcGIS/server/public/
__pycache__
