/**
 * SourceConfigCard Component Styles
 */

.audiom-source-card {
  margin-bottom: 12px;
  border: 0;
}

.audiom-source-card__content {
  padding: 12px;
}

.audiom-source-card__actions {
  display: flex;
  align-items: center;
  gap: 4px;
}
